div.ticket
{
    margin: 20px 100px;
    border: 1px solid black;

}
div.review
{
    margin: 20px 100px;
    border: 1px solid black;
    background-color: blanchedalmond;
}
div.review .ticket{
    margin: 20px 10px;
    background-color: white;
}
div.review .ticket {
    margin: 20px 10px;
}
div.answer{
    float:right;
    clear:right;
}
div.content{
    padding: 20px 20px;
    overflow:hidden;
}

div.review .title,
div.ticket .title
{
    padding: 10px;
    color: white;
    background: black;
}
div.review > .title
{
    background: maroon;
}
div.review .author,
div.ticket .author
{
    float:right;
    color:grey;
    font-size: 10px;
    font-style: italic;
    clear:right;
}