#page_login {
    display: flex;
    justify-content: center;
}

#page_login form {
    width: 400px;
    border: 1px solid red;
    padding: 5px 10px;
}

#menu {
    display: flex;
}

#menu div {
    width: 100%;
    background-color: #AAC5DA;
}

#menu div a {
    display: block;
    color: white;
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.container_img{
    text-align: center;
}