{% extends 'base.html' %}
{% block title %}<title>Page de ticket</title>{% endblock title %}
{% block content %}
    <div class="answer_ticket">
        Vous répondez au ticket : "{{ticket.title}}", qui a pour description "{{ticket.description}}" et comme image :
        <br />
        {% if ticket.image  %}
            <img src="/media/{{ ticket.image }}" width="150" height="150"></img>
        {% endif %}
    </div>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sauvegarder">
    </form>
{% endblock %}

