<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% load static %}
  {% block title %}{% endblock title %}
  <link rel="stylesheet" href="{% static 'style.css'%}?">
  <link rel="stylesheet" href="{% static 'login.css'%}?">
  <link rel="stylesheet" href="{% static 'posts.css'%}">
  <link rel="stylesheet" href="{% static 'flux.css'%}">
  <link rel="stylesheet" href="{% static 'stars.css'%}">
</head>
<body>
    {% block menu %}
      <div id="menu">
    {% load static %}
    <div class="container_img"><img src="{% static 'logo_litreview.png'%}" width="50"></img></div>
           {% if user.is_authenticated %}
           <div><a href="{% url 'list_flux' %}">Flux</a></div>
          <div><a href="{% url 'liste' %}">Posts</a></div>
           <div><a href="{% url 'manage_subscribe' %}">Abonnements</a></div>
           <div><a href="{% url 'logout' %}">Se déconnecter   - {{ user.username }}</a></div>
          {% endif %}
</div>
    {% endblock %}

    {% block content %}{% endblock %}
</body>
</html>