{% extends 'base.html' %}

{% block title %}<title>Page de login</title>{% endblock title %}

{% block content %}
    <div id="page_login" style="float: revert">
         <p>Connectez-vous</p><br>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter">
        </form>
    </div>
    <div id="user-tools" style="float: unset">Inscrivez vous maintenant<br>
        <a href="{% url 'signup' %}"><button>s'inscrire</button></a></div>
{% endblock content %}