{% extends 'base.html' %}
{% block title %}<title>Mes posts</title>{% endblock title %}
{% load i18n %}
{% block content %}
    <div class="container-posts">
        {% for post in post_list %}
            {% if post.content_type == 'TICKET' %}
            <div class="ticket">
                <div class="title">{{ post.title }} - {{ post.user.username }}</div>
                <div class="content">
                    {% if post.image  %}
                        <img src="/media/{{ post.image }}" width="150" height="150"></img>
                    {% endif %}
                    <div>{{ post.description }}</div>
                    <div class="author">Ecrit par {{ post.user.username }} à {% language 'fr' %}{{ post.created_at|date:'d F Y h:i' }}{% endlanguage %}
                        {% if post.updated_at|date:"Y-m-d H:i:s" != post.created_at|date:"Y-m-d H:i:s"  %}
                        <br>
                        Modifié le {% language 'fr' %}{{ post.updated_at|date:'d F Y h:i' }}{% endlanguage %}
                        {% endif %}
                    </div>
                    <div class="answer">
                         <a href="{% url 'update_ticket' post.id %}"><button>Modifier le ticket</button></a>
                        <a href="{% url 'delete_ticket' post.id %}"><button>Supprimer le ticket</button></a>

                    </div>
                </div>
            </div>
            {% elif post.content_type == 'REVIEW' %}
            <div class="review">
                <div class="title">{{ post.title_review }} </div>
                <div class="content">
                    <div>{{ post.description_review }}</div>
                    {% if post.note == "1"  %}
                        <div><span class="stars-container stars-20">★★★★★</span></div>
                    {% elif post.note == "2"  %}
                        <div><span class="stars-container stars-40">★★★★★</span></div>
                    {% elif post.note == "3"  %}
                        <div><span class="stars-container stars-60">★★★★★</span></div>
                    {% elif post.note == "4"  %}
                        <div><span class="stars-container stars-80">★★★★★</span></div>
                    {% else  %}
                        <div><span class="stars-container stars-100">★★★★★</span></div>
                    {% endif %}
                    <div class="author" >
                        Ecrit par {{ post.user.username }} à {% language 'fr' %}{{ post.created_at|date:'d F Y h:i' }}{% endlanguage %}
                        {% if post.updated_at|date:"Y-m-d H:i:s" != post.created_at|date:"Y-m-d H:i:s"  %}
                        <br>
                        Modifié le {% language 'fr' %}{{ post.updated_at|date:'d F Y h:i' }}{% endlanguage %}
                        {% endif %}
                    </div>
                    <div class="answer">
                        {% if  post.user.id == user.id  %}
                            <a href="{% url 'update_review_without_ticket' post.id %}"><button>Modifier la critique</button></a>
                            <a href="{% url 'delete_review' post.id %}"><button>Supprimer la critique</button></a>
                        {% else %}
                            <a href="{% url 'update_review_with_ticket' post.id %}"><button>Modifier la critique</button></a>
                            <a href="{% url 'delete_review' post.id %}"><button>Supprimer la critique</button></a>
                        {% endif %}
                    </div>
                    <div class="ticket">
                        <div class="title">{{ post.ticket.title }} - {{ post.user.username }}</div>
                        <div class="content">
                            {% if post.ticket.image  %}
                                <img src="/media/{{ post.ticket.image }}" width="50" height="50"></img>
                            {% endif %}
                            <div>{{ post.ticket.description }}</div>
                            <div class="author">
                                Ecrit par {{ post.ticket.user.username }} à {% language 'fr' %}{{ post.ticket.created_at|date:'d F Y h:i' }}{% endlanguage %}
                                {% if post.ticket.updated_at|date:"Y-m-d H:i:s" != post.ticket.created_at|date:"Y-m-d H:i:s"  %}
                                <br>
                                Modifié le {% language 'fr' %}{{ post.ticket.updated_at|date:'d F Y h:i' }}{% endlanguage %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}